#map {
        height: 700px;
        position: initial;
        overflow: hidden;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      #search-input {
/*        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;*/
        width: 400px;
      }

      #search-input:focus {
        border-color: #4d90fe;
      }

      #search-container{
        top: 0%;
        background-color: rgba(255,255,255,0.9);
        position: absolute;
        z-index: 9999;
        text-align: center;
      }

      #search-button{
        float: right;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }