<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{map_api}}&libraries=places"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="map"></div>
          <div id="search-container">
            <input id="search-input" class="form-control" type="text" placeholder="Type city here">
          </div>
        </div>
      </div>
    </div>
    

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    
  </body>
</html>